<div class="card-dashboard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path booking.user.photo.key if booking.user.photo.attached?  %>)">
  <div class="card-text">
    <p><%= booking.user.first_name %></p>
    <p class= "pending-card-date"><%= booking.event.start_time.strftime('%d %b %H:%M') %></p>
  </div>
  <div class="card-status-p">
    <p class= "accept-link"><%= link_to "Accept", booking_confirm_path(booking) %></p>
    <p class= "decline-link"><%= link_to "Decline", booking_decline_path(booking) %></p>
    <div class="card-green-line-pending"></div>
    <div class="card-pink-line-pending"></div>
  </div>
  <div class="card-text">
    <p><%= link_to "Booking Details", booking_path(booking) %></p>
  </div> 
</div>
  