<div class="card-dashboard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path booking.user.photo.key if booking.user.photo.attached?  %>)">
  <div class="card-text">
    <p><%= booking.user.first_name %></p>
    <p><%= booking.event.start_time.strftime('%d %b %H:%M') %></p>
  </div>
  <div class="card-status">
    <p><%= booking.status.capitalize %></p>
  </div>
  <div class="card-green-line-confirmed"></div>
  <div class="card-pink-line-confirmed"></div>
  <div class="card-text">
    <p><%= link_to "Booking Details", booking_path(booking) %></p>
  </div>
</div>
