<%= render 'shared/banner-bookings', booking: @booking %>

<div class="">
    <div class="container" style= "height: 630px; position: relative;">
      <%= render "bookings/chat" %>
      <div class="messager">
        <%= simple_form_for [@booking, @message], remote: true do |f| %>
          <%= f.input :content, label: false, placeholder: "Your Message..." %>
          <%= f.button :submit, "Send", class: 'message-button' %>
        <% end %>
      </div>
    </div>

  <div class="textaboutgiggers">
    <h1><%= @artist.first_name %><%= @artist.last_name %><br>is excited <br>to gig with you!</h1>
     <div class="card-pink-line1-booking" data-aos="fade-right" data-aos-duration="1500"></div>
     <div class="card-green-line-booking" data-aos="fade-left" data-aos-duration="1500"></div>
     <div class="card-pink-line2-booking" data-aos="fade-right" data-aos-duration="1500"></div>
  </div>
</div>
