<%= render 'shared/banner-bookings', booking: @booking %>
</div>
  <div class="textaboutgiggers">
    <h1>Some <br>experienced <br>giggers</h1>
     <div class="card-pink-line-home1" data-aos="fade-right" data-aos-duration="1500"></div>
     <div class="card-green-line-home" data-aos="fade-left" data-aos-duration="1500"></div>
     <div class="card-pink-line-home2" data-aos="fade-right" data-aos-duration="1500"></div>
  </div>
  <div class="cards ">
    <% @venues.first(3).each do |venue| %>
      <%= link_to venue_path(venue) do %>
        <%= render "shared/card-home", venue: venue %>
      <% end %>
    <% end %>
    <div class="messager">
      <%= simple_form_for [@booking, @message], remote: true do |f| %>
        <%= f.input :content, label: false, placeholder: "#Your Message#" %>
        <%= f.submit "send" %>
      <% end %>
    </div>
</div>
