<div class="card-dashboard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= booking.event.venue.image_url %>)">
  <p><%= booking.event.venue.name %></p>
  <p><%= booking.event.starts_at %> - <%= booking.event.ends_at %></p>
  <p><%= booking.status %></p>
  <div class="card-green-line-confirmed"></div>
  <div class="card-pink-line-confirmed"></div>
</div>