<div>
  <%= form_tag venues_path, method: :get do %>
    <div class="product-search">
      <div class="search-element">
        <%= label_tag 'venue', "Choose a venue:", class: "search-label" %>
        <%= text_field_tag :venue,
          params[:venue],
          class: "search-input",
          placeholder: "Find a venue"
        %>
      </div>
      <!-- <div class="search-element">
        <%= label_tag 'radius', "Radius:", class: "search-label" %>
        <%= text_field_tag :radius,
          params[:radius],
          class: "search-input",
          placeholder: "- km"
        %>
      </div>
      <div class="search-element">
        <%= label_tag 'date', "Choose a date:", class: "search-label" %>
        <%= text_field_tag :date,
          params[:date],
          class: "search-input",
          placeholder: "dd.mm.yyyy"
        %>
      </div> -->
      <div>
        <input type="submit" name="commit" value="GigMe!" class="search-button" data-disable-with="GigMe!" style= "line-height: 0;">
    </div>
  <% end %>
</div>
