<!-- <div class="row py-3 new-event-container">
  <h1>Create an Event!</h1>
  <%= simple_form_for(@event, method: :post, url: venue_events_path) do |f| %>
    <div class="d-flex">
      <%= f.input :start_time, label: 'Start Date', class: 'flatpickr js-flatpickr-date' %>
      <%= f.input :gig_start, label: 'Start time', class: 'flatpickr js-flatpickr-time' %>
    </div>
    <div class="d-flex">
    <%= f.input :end_time, label: 'End Date', class: 'flatpickr js-flatpickr-date' %>
    <%= f.input :gig_end, label: 'End Time', class: 'flatpickr js-flatpickr-time' %>
    </div>
    <div style="width: 100%; display: flex;">
      <%= f.button :submit, class: 'create-event-button' %>
    </div>
  <% end %>
</div> -->

<div class="py-3 new-event-container">
  <h1>Open up for some nice giggers!</h1>
  <div class="card-pink-line-newevent" data-aos="fade-right" data-aos-duration="1500"></div>

  <%= form_for(@event, url: venue_events_path) do |f| %>
    <div class="d-flex my-3">
      <div class="mr-5">
        <%= f.label :start_time, 'Start date:', class: "time-info" %>
        <%= f.text_field :start_time, class: 'flatpickr js-flatpickr-date', id: "text-stuff" %>
      </div>
      <div>
        <%= f.label :gig_start, 'Start time:', class: "time-info" %>
        <%= f.text_field :gig_start, class: 'flatpickr js-flatpickr-time', id: "text-stuff" %>
        </div>
    </div>
    <div class="d-flex">
      <div class="mr-5">
        <%= f.label :end_time, 'End date:', class: "time-info" %>
        <%= f.text_field :end_time, class: 'flatpickr js-flatpickr-date', id: "text-stuff" %>
      </div>
      <div>
        <%= f.label :gig_end, 'End time:', class: "time-info" %>
        <%= f.text_field :gig_end, class: 'flatpickr js-flatpickr-time', id: "text-stuff" %>
      </div>
    </div>
    <div style="width: 100%; display: flex;">
      <%= f.submit "Open Up", class: 'create-event-button' %>

    </div>
  <% end %>
</div>

<!-- <%= form_for(@event, url: venue_events_path) do |f| %>
  <%= f.label :start_time %>
  <%= f.text_field :start_time, class: 'flatpickr js-flatpickr-date' %>
  <%= f.label :gig_start %>
  <%= f.text_field :gig_start, class: 'flatpickr js-flatpickr-time' %>
  <%= f.label :end_time %>
  <%= f.text_field :end_time, class: 'flatpickr js-flatpickr-date' %>
  <%= f.label :gig_end %>
  <%= f.text_field :gig_end, class: 'flatpickr js-flatpickr-time' %>
  <%= f.submit class: 'create-event-button' %>
<% end %> -->


<!-- <div class="row py-3 new-event-container">
  <form action="/venues/<%= current_user.venue.id %>/events" method="post">
    <div class="d-flex">
      <input type="text" name="start_time" class="flatpickr js-flatpickr-date" placeholder="select date">
      <input type="text" name="gig_start" class="flatpickr js-flatpickr-time" placeholder="select time">
    </div>
    <div class="d-flex">
      <input type="text" name="end_time" class="flatpickr js-flatpickr-date" placeholder="select date">
      <input type="text" name="gig_end" class="flatpickr js-flatpickr-time" placeholder="select time">
    </div>
    <div class="input-group-append">
        <input type="submit" value="Create Event" class="create-event-button">
      </div>
  </form>
</div> -->
g
