<div class="container">
  <%= render "shared/searchbar" %>
  <div class="index-text my-5">
    <h3>There are <%= @venues.count %> available venues for you to Gig!</h3>
  </div>
  <div class="container d-flex flex-wrap cards">
    <% @venues.each do |venue| %>
      <%= link_to venue_path(venue) do %>
        <%= render "shared/card", venue: venue %>
      <% end %>
    <% end %>
  </div>
</div>


<%= form_tag venues_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a venue"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
