<%= render "shared/venue-show-banner", venue: @venue %>
<div class="container">
 <%= week_calendar(events: @events, attribute: :start_time, end_attribute: :end_time) do |date, events| %>
    <%= date %>
    <% events.each do |event| %>
      <button class="event-modal-button search-button" data-buttonId="<%= event.id %>">
        <%= event.start_time %> until <%= event.end_time %>
      </button>
      <div class="event-modal" id="event-modal-<%= event.id %>">
        <div class="event-modal-content">
        <div class="event-modal-close" id="event-modal-close-<%= event.id %>">&times;</div>
          <div class="popup-text">
           <div class="card-green-line-popup"></div>
              <%=  @venue.name %>
              <br>
              <%= @venue.address %>
            </div>

            <%= simple_form_for :booking, url: bookings_path do |f| %>
              <%= f.hidden_field :event, value: event.id %>


              <%= f.input :content, as: :text, input_html: {id: 'text-box'}, label: false, placeholder: "Type a message here..."%>
              <%= f.button :submit, class: 'submit-button'%>
            <% end %>
    <% end %>
          </div>
        </div>
  <% end %>


  <%# ------------------------------------CALENDAR------------------------------------------------------------ %>
  <%= week_calendar(events: @events) do |date, events| %>
        <%= date %>
        <% events.each do |events| %>
          <div class="event">

          </div>
        <% end %>
      <% end %>

  <%# ---------------- CARDS ----------------------------------------------------- %>

</div>



<div id="accordion">
  <div class="tabs">
    <div class="images-tab">
      <div class="d-flex flex-column" style="width: 100%;">
        <div class="d-flex align-items-center justify-content-end" style="margin-bottom: -26px;">
          <div class="arrow-down-pink">
          </div>
          <h4 id="headingOne">
            <a class="link-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="collapseOne" data-target="#collapseOne">
                Images
            </a>
          </h4>
        </div>
        <div class="tab-green-line"></div>
        <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-collapse-left">
            images
          </div>
        </div>
      </div>
    </div>

    <div class="tabs-right">
      <div class="about-tab">
        <div class="text-arrow d-flex justify-content">
          <h4 id="headingTwo">
            <a class="link-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo" data-target="#collapseTwo">
              About
            </a>
          </h4>
          <div class="arrow-down-pink"></div>
        </div>
        <div class="tab-green-line"></div>
          <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-collapse">
              <%= @venue.about %>
            </div>
          </div>
      </div>

      <div class="reviews-tab">
        <div class="text-arrow d-flex justify-content">
          <h4 id="headingThree">
            <a class="link-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree" data-target="#collapseThree">
              Reviews
            </a>
          </h4>
          <div class="arrow-down-green"></div>
        </div>
          <div class="tab-pink-line"></div>
              <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-collapse">
                  <%= @venue.about %>
                </div>
              </div>
      </div>

      <div class="requirements-tab">
        <div class="text-arrow d-flex justify-content">
          <h4 id="headingFour">
          <a class="link-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFour" data-target="#collapseFour">
              Requirements
            </a>
          </h4>
          <div class="arrow-down-pink"></div>
        </div>
        <div class="tab-green-line"></div>
          <div class="collapse" id="collapseFour" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-collapse">
                  <%= @venue.requirements %>
                </div>
              </div>
      </div>
    </div>
  </div>
</div>
