<h1>Venues#show</h1>
<div>
    <%= @venue.name %>
    <img src= "<%= @venue.image_url %>"> 
    <%= @venue.address %>
    <%= @venue.contact_details %>
</div>
<% @venue.events.each do |event| %>
  <div>
    <%= event.starts_at %>
    <%= event.ends_at %>
  </div>
  
<% end %>