<div class="container">
  <h1><%= @venue.name %></h1>
  <div>
      <img src= "<%= @venue.image_url %>">
      <p><%= @venue.address %></p>
      <p><%= @venue.contact_details %></p>
  </div>
  <% @venue.events.each_with_index do |event, ind| %>

    <button class="event-modal-button" data-buttonId="<%= ind %>">
      <%= event.starts_at %> until <%= event.ends_at %>
    </button>

    <div class="event-modal" id="event-modal-<%= ind %>">
      <div class="event-modal-content">
        modal content here
        <%= simple_form_for :booking, url: bookings_path do |f| %>
        <%= f.hidden_field :event, value: event.id %>
        <%= f.input :content, as: :text %>
        <%= f.submit %>
        <% end %>




        <span class="event-modal-close" id="event-modal-close-<%= ind %>">&times;</span>
      </div>
    </div>
  <p class="notice"><%= notice %></p>
  <% end %>
</div>

<script>
  window.addEventListener('DOMContentLoaded', () => {
    const btn = document.querySelectorAll(".event-modal-button");
    const close = document.querySelectorAll(".event-modal-close");

    btn.forEach(button => {
      const modal = document.getElementById(`event-modal-${button.dataset.buttonid}`)
      const closeButton = document.getElementById(`event-modal-close-${button.dataset.buttonid}`)
      
      button.onclick = function(event) {
        modal.style.display = "block";
      }
      
      closeButton.onclick = function(event) {
        modal.style.display = "none";
      }
    })
  });
</script>