<%= render "shared/show-banner", venue: @venue %>
<div class="container">
  <% @venue.events.each_with_index do |event, ind| %>

    <button class="event-modal-button" data-buttonId="<%= ind %>">
      <%= event.starts_at %> until <%= event.ends_at %>
    </button>

    <div class="event-modal" id="event-modal-<%= ind %>">
      <div class="event-modal-content">
        modal content here
        <%= simple_form_for :booking, url: bookings_path do |f| %>
          <%= f.hidden_field :event, value: event.id %>
          <%= f.input :content, as: :text %>
          <%= f.submit %>
        <% end %>
        <span class="event-modal-close" id="event-modal-close-<%= ind %>">&times;</span>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
  <% end %>

    <%# -----------------CARROUSEL------------------------ %>

  <%# ---------------- CARDS ----------------------------------------------------- %>

  <div class="tabs">
    <div class="images-tab">
      <h4>Images</h4>
      <div class="arrow-down-pink"></div>
      <div class="tab-green-line"></div>
    </div>
    <div class="about-tab">
      <h4>About</h4>
      <div class="arrow-down-pink"></div>
      <div class="tab-green-line"></div>
    </div>
    <div class="reviews-tab">
      <h4>Reviews</h4>
      <div class="arrow-down-green"></div>
      <div class="tab-pink-line"></div>
    </div>
    <div class="requirements-tab">
      <h4>Requirements</h4>
      <div class="arrow-down-pink"></div>
      <div class="tab-green-line"></div>
    </div>
  </div>
</div>

