<h2>Log in</h2>

<div class="register-container">
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <div class="text-bands">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email", class: 'login-email' } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password", class: 'login-email' } %>
    </div>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in", class: 'loginbutton' %>
  </div>
<% end %>


<%= render "devise/shared/links" %>
</div>
