<div class="card-dashboard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path booking.event.venue.photo.key unless booking.event.venue.photo.nil?  %>')">
  <div class="card-text">
    <p><%= booking.event.venue.name %></p>
    <p><%= booking.event.start_time %> - <%= booking.event.end_time %></p>
  </div>
  <div class="card-status">
    <p><%= booking.status.capitalize %></p>
  </div>
  <div class="card-green-line-confirmed"></div>
  <div class="card-pink-line-confirmed"></div>
</div>