<div class="container">
  <h1>Host Dashboard</h1>
  <% if @host_bookings.pending.size != 0 %>
    <h3>Pending Gigs</h3>
    <% @host_bookings.pending.each do |booking| %>
      <div class="card">
        <p><%= booking.user.username %></p>
        <p><%= booking.event.starts_at %> - <%= booking.event.ends_at %></p>
        <%= image_tag(booking.user.image_url, width: 200) %>
        <%= link_to "Accept", booking_confirm_path(booking) %>
        <%= link_to "Decline", dashboard_path %>
      </div>
    <% end %>
  <% end %>

  <% if @host_bookings.confirmed.size != 0 %>
    <h3>Upcoming Gigs</h3>
    <% @host_bookings.confirmed.each do |booking| %>
      <div class="card">
        <p><%= booking.user.username %></p>
        <p><%= booking.event.starts_at %> - <%= booking.event.ends_at %></p>
        <%= image_tag(booking.user.image_url, width: 200) %>
      </div>
    <% end %>
  <% end %>

</div>
